body {
}
.flexible-container {
  display: flex;
}
.width-half {
  width: 50%;
  padding-left: 10px;
  padding: 100px;
}
.width-half h1 {
  font-size: 80px;
}
.width-half p {
  font-size: 30px;
}

.link-button {
  font-size: 20px;
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 35px;
}
.span-color {
  color: orange;
}
.frame1 {
  background-image: url(images/shapes/frame3.png);

  background-repeat: no-repeat;
}
.frame2 {
  background-image: url(images/shapes/frame2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.flexible-container2 {
}
.recipies {
}
.recipies h1 {
  font-size: 35px;
  text-align: center;
}
.recipies p {
  font-size: 25px;
  text-align: center;
}

.flexible-container3 {
  display: flex;
}
.imag {
  display: flex;
  width: 400px;
  height: 300px;

  margin-left: 150px;
  border-image: 50px;
}
.flexible-container4 {
  display: flex;
}
.recipie-title {
  font-size: 20px;
  padding: 10px 180px;
  border: 0px solid white;
}
